@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);

header {
	padding: 20px;
	margin: 10px 200px;
	text-align:center;
	clear: both
}

body {
	background: #060503;
	margin:0;
	padding:0;
	font-family: 'Oxygen', 'sans-serif';
	font-size: 1.0em;
	color: #999;
	font-weight: 300;
}

h1 {
	color: #BCCDD2;
	font-size: 2.7em;
	font-weight: 200;
}

.layout-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.layout1{background-image:url('layoutimages/layout1.jpg');}
.layout2{background-image:url('layoutimages/layout2.jpg');}
.layout3{background-image:url('layoutimages/layout3.jpg');}

.layout-selector input:active +.layout{opacity: .9;}
.layout-selector input:checked +.layout{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.layout{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:600px;height:420px;
	p.double {border-style: double;}
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.layout:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

form {
	text-align: center;
}

#container {
	width: auto;
	margin: 0 auto;
}

#body {
	background: none;
	margin: 5px auto 0;
 	padding: 0;
	clear: both;
}



.clear {
	clear: both;
}


footer  {
	padding: 10px;
	margin-top: 20px;
	text-align: center;
}